[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
carla = "*"
numpy = "==1.18.4"
pygame = "*"
matplotlib = "*"
networkx = "*"
distro = "*"
PyYAML = "*"
asyncio = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
